body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%;
}
.header {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;
}
.active-sign-video {
    color: white !important;
    background-color: rgb(74 222 128) !important;
    border-color: rgb(74 222 128) !important;
}